click==6.7
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.3
MarkupSafe==1.0
onetimepass==1.0.1
passlib==1.7.1
Pillow==8.2.0
pyaes==1.6.1
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.9
Unidecode==1.0.22
Werkzeug==0.14.1
WTForms==2.2.1
