{% extends 'layout.html' %}

{% block body %}
	</br>
		<div class="jumbotron">
			<h1 class="display-4">Hello, world!</h1>
			<p class="lead">Hi there, Welcome to ElfinURL</p>
			<hr class="my-4">
			<p>"ElfinURL" provides a way to create links that are editable and customizible to your heart content. So why you are still here <em><strong>"HOP-ON-BORAD"</em></strong></p>
			<a class="btn btn-primary btn-sm float-left " href="#" role="button">Learn more</a>
			{% if session.logged_in %}
			<a href="{{ url_for('logout') }}" class='btn btn-danger btn-sm float-right ml-2'><span class="fa fa-sign-out-alt"></span> Logout</a>
			<a href="{{ url_for('dashboard') }}" class='btn btn-success btn-sm float-right'><span class="fa fa-user-alt"></span> Dashboard</a>
			{% else %}
			<a class='btn btn-success btn-sm float-right ml-2 ' href="{{ url_for('login') }}" role='button'><span class="fa fa-sign-in-alt"></span> Login</a>
			<a class='btn btn-primary btn-sm float-right ' href="{{ url_for('register') }}" role='button'><span class="fa fa-user-alt"></span> Register</a>
			{% endif %}
		</div>
{% endblock %}